<!-- footer css -->
<link rel="stylesheet" href="../css/footer.css" />
<footer class="footer">
  <div class="row">
    <div class="col-md-6 footer-block">
      <a class="navbar-brand" href="index.html">
        <img
          src="../assets/images/ck-logo.png"
          class="ck-logo animate__animated animate__bounce"
          alt="Culture Kitchen Logo"
        />
      </a>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        officia dolor vero id et molestias possimus, nesciunt earum doloribus
        repudiandae dolores molestiae placeat beatae ea. Earum accusantium magni
        distinctio! Fuga.
      </p>
    </div>
    <div class="col-md-3 footer-block">
      <h6>Contact Us</h6>
      <address>
        <span>40 King St E, Kitchener ON N2H0B4</span>
        <span>Canada</span>
      </address>
      <address>
        <span>Phone : +1 (226) 476-5993 </span>
        <span>OPEN 7 DAYS (Lunch & Dinner)</span>
        <span>Sun to Thur -11 am to 10:00 pm</span>
        <span>Fri & Sat - 11 am to 11 pm</span>
      </address>
    </div>
    <div class="col-md-3">
      <h6>Nav links</h6>
      <ul class="navbar-nav-footer">
        <li class="nav-item">
          <a class="nav-link active animate__animated animate__zoomIn" aria-current="page" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__zoomIn" href="../create-recipe.html">Create Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__zoomIn" href="../create-ingredient.html">Create Ingredients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animate__animated animate__zoomIn" href="../login.html">Login</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
